/* You can add global styles to this file, and also import other style files */

$colour-purple: #373151;

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ebe9e8;
  margin: 0;
  padding: 0;
}

app-root {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, h3, h4, h5 {
  color: $colour-purple;
}

strong.highlight {
  color: $colour-purple;
}

table {
  thead {
    th {
      color: $colour-purple !important;
      vertical-align: top;
    }
  }
}

.table-responsive {
    overflow-x: auto;

    .table {
        min-width: 600px;
    }
}
