@if (visible) {
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th>Email</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of searchPeopleResult?.items" class="person active-{{ person.isActive }}">
      <td>
        <a routerLink="/people/{{ person.id }}" (click)="setPersonId(person.id)">{{ person.firstName }} {{ person.lastName }}</a>
      </td>
      <td>{{ person.departmentName }}</td>
      <td>{{ person.emailAddress }}</td>
      <td>{{ person.isActive ? 'Yes' : 'No' }}</td>
    </tr>
  </tbody>
</table>
}
