<header>
  <img src="/assets/logo.svg" alt="UK Parliament logo" />
  <h1>
    <strong>
      Product Team Developer Home Exercise
    </strong>
    <br />
    Lead Developer
  </h1>
</header>

<h2>Overview</h2>
<p>Thanks for taking the time to do our recruitment home exercise. We'd like you to make a very small person manager application - it doesn't have to be complicated!</p>

<h2>Ensure you satisfy the assessment criteria</h2>
<p><strong class="highlight">You can view an <a href="#assessment-criteria">assessment criteria</a> at the bottom of these instructions.</strong> You should aim to satisfy all the points on it as this will be referenced when your completed exercise is reviewed.</p>

<h2>Project</h2>
<p>We've setup a template project for you. It includes:</p>
<ul>
  <li>
    <strong>Front-end</strong>
    <ul>
      <li>An Angular frontend embedded in a .NET web application (all UI components should be implemented in Angular). There are specific folders for components, models, and services. There are also some example Angular test files (.spec.ts) in the component/service folders.</li>
      <li><strong>You are welcome to swap Angular out for another front-end framework (eg: React) if you wish, as long as you still ensure you adhere to the assessment criteria.</strong></li>
    </ul>
  </li>
  <li>
    <strong>Back-end</strong>
    <ul>
      <li>The beginning of an API - A person API controller exists for you, and the Angular proxy.config has been set for the /api route. The Angular home component references a PersonService - see person.service.ts for a very basic example of calling the API</li>
      <li>Services project - To contain any services you might require</li>
      <li>Data project - Houses the in-memory database context with simple Person and Department entities. The Departments are seeded into the database in application startup.</li>
      <li>Test project - For tests</li>
    </ul>
  </li>
</ul>

<h2>Expected completed solution</h2>
<p>
  When you've finished this exercise these instructions should be gone. In their place should be a very simple person management application. Please remove the home component and add your own components. The application should:
</p>
<ul>
  <li>Show a list of people</li>
  <li>Allow the person to be loaded into an editor which could sit to the side of the list</li>
  <li>Allow a user to update the person properties and save them</li>
  <li>Allow a user to add more people to the list</li>
</ul>
<p>More detailed instructions are below.</p>
<p><strong class="highlight">Remember to ensure you satisfy all the points on the <a href="#assessment-criteria">assessment criteria</a> at the bottom of these instructions.</strong></p>

<h2>Detailed instructions</h2>
<p>To complete this exercise please modify this solution and do the following:</p>
<ul>
  <li>
    Extend the person entity in the data assembly to include these properties:
    <ul>
      <li>First name</li>
      <li>Last name</li>
      <li>Date of birth</li>
      <li>Department (should be a dropdown allowing one of the seeded Departments to be selected)</li>
      <li>Anything else you'd like to add!</li>
    </ul>
  <li>All fields should be mandatory, and validated appropriately</li>
  <li>Remove/rename the home component and replace it with your own set of semantically meaningful components</li>
  <li>Display a list of people</li>
  <li>People in the list can be selected and load into a simple editor</li>
  <li>An editor is available next to the list - all properties for the person should be editable (apart from Id!).</li>
  <li>Allow new people to be added to the list</li>
  <li>Add the ability to save updates to existing people</li>
  <li>When a user saves a person record, persist this in the in-memory database. (No need for a real relational backend)</li>
  <li>If you'd like to you could add other functionality, such as the ability to delete a person etc, but this isn't required</li>
  <li>Please pay consideration to the visual design, usability and accessibility of the finished product, including use on mobile. Feel free to use the <a href="https://www.parliament.uk/" target="_blank">UK Parliament branding</a> for inspiration (but please don't copy and paste code from any UK Parliament websites).</li>
</ul>

<h2 id="assessment-criteria">Assessment criteria</h2>
<p>Find the assessment criteria we will use to review your completed test below. You should aim to satisfy all the points on it.</p>
<p>It contains a number of assessment areas (categorised into groups such as SOLID principles, as well as back-end and front-end). The required criteria is displayed alongside each one.</p>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Assessment area</th>
        <th>Assessment criteria</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="group" colspan="2">
          SOLID principles
        </td>
      </tr>
      <tr>
        <td>
          Single responsibility principle
        </td>
        <td>
          You should structure your code so that each class has a single responsibility. For example, validation of data from the client should be validated in a separate class rather than the validation logic being in the PersonService. Controllers should also be as lightweight as possible. For example. mapping from an entity to a view model should also be delegated to a separate mapping class.
        </td>
      </tr>
      <tr>
        <td>
          Open-closed principle
        </td>
        <td>
          If you add any inheritance with base/derived classes (such as services, repositories, mappers or validators), ensure that the inheritance it is architected so that new behaviour can be accommodated without needing to change the code of the base classes, will be flexible if the requirements change, and that the inheritance is not better architectured using abstraction or composition instead.
        </td>
      </tr>
      <tr>
        <td>
          Liskov substitution principle
        </td>
        <td>
          If you add any inheritance with base/derived classes, ensure that derived classes you add (such as services, repositories, mappers or validators) are correctly substitutable for their base classes, will be flexible if the requirements change, and that the inheritance is not better architectured using abstraction or composition instead.
        </td>
      </tr>
      <tr>
        <td>
          Interface segregation principle
        </td>
        <td>
          Classes in your code should only implement interfaces with methods that they actually use. For example, your Person services will return and save data, whereas as your Department services will only return data. Interfaces used in your code should reflect this.
        </td>
      </tr>
      <tr>
        <td>
          Dependency inversion principle
        </td>
        <td>
          You should abstract any dependencies in your back-end code into interfaces, inject them using dependency injection, and mock them where required in unit tests. For example, the services should have an abstraction of the data access code injected rather than a concrete implementation.
        </td>
      </tr>
      <tr>
        <td class="group" colspan="2">
          Back-end
        </td>
      </tr>
      <tr>
        <td>
          Architecture
        </td>
        <td>
          You should expand upon the N-tier skeleton structure setup in the test template. Data access should use the repository pattern, which injects your database context and interacts with it. The services then use the repository to read/save data. Controllers then consume these services. Entities should be mapped to/from view models for use on the front-end. Services and controllers should not use the the database context directly.
        </td>
      </tr>
      <tr>
        <td>
          Unit tests
        </td>
        <td>
          Each class you add with public methods should have at least one unit test added to demonstrate how you would unit test that component. You should add at least one unit test for your controller(s) too.
        </td>
      </tr>
      <tr>
        <td>
          RESTful conventions
        </td>
        <td>
          You should follow RESTful conventions for any endpoints you add into your application in terms of route URLs and HTTP verbs. And also return correct HTTP status codes for responses (for example, 404 when a person isn't found). This includes supporting HTTP PUT and POST correctly when it comes to saving new people or saving updates to existing people.
        </td>
      </tr>
      <tr>
        <td>
          Validation
        </td>
        <td>
          Validation should be added server-side to check values provided for all fields are valid, which should be passed to the client-side to display. This includes the email address and date of birth which must be in a valid formats. You can add client-side validation if you would like to, but it should not be in place of server-side validation. The email address should also be unique to each person, so the application should validate that the same email is not used for another person.
        </td>
      </tr>
      <tr>
        <td>
          Database & model
        </td>
        <td>
          Entities and models should use appropriate types for the data they are storing. For example, a DateTime or DateOnly should be used for a date of birth, not a string.
        </td>
      </tr>
      <tr>
        <td class="group" colspan="2">
          Front-end
        </td>
      </tr>
      <tr>
        <td>
          Architecture
        </td>
        <td>
          Your front-end code should be split into  Angular components, Angular services, models, and tests as a minimum (along with additional supporting classes you may wish to add, if any). You should have separate components for the list and person form.
        </td>
      </tr>
      <tr>
        <td>
          Use of routing
        </td>
        <td>
          Your list, add and edit functionality should utilise Angular routing to load the appropriate component. The edit page should take a person ID in the URL and use this to load the appropriate data.
        </td>
      </tr>
      <tr>
        <td>
          Unit tests
        </td>
        <td>
          You should add Angular unit tests covering at least one of the services and one of the components.
        </td>
      </tr>
      <tr>
        <td>
          Accessibility
        </td>
        <td>
          Your rendered pages/components should validate to WCAG 2.1 AA standard with no issues. You can use the AXE plugin to verify this (<a href="https://chromewebstore.google.com/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd?pli=1" target="_blank">https://chromewebstore.google.com/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd?pli=1</a>). The pages should also be usable with a keyboard.
        </td>
      </tr>
      <tr>
        <td>
          Error handling
        </td>
        <td>
          The pages should present validation errors to indicate any problems the users need to correct. They should also handle more general errors gracefully, and show a general error message to the user.
        </td>
      </tr>
    </tbody>
  </table>
</div>

