header {
  margin-bottom: 1.3rem;
  text-align: center;

  img {
    width: 200px;
    display: inline-block;
    margin-bottom: 15px;

    @media (min-width: 700px) {
      width: 250px;
      margin-bottom: 35px;
    }
  }
}

table {
  tbody {
    td.group {
      font-weight: bold;
    }
  }
}
