<form>
  <p>
    <label>
      First name
      <input type="text" [(ngModel)]="person.firstName" name="firstName" />
    </label>
  </p>
  <p>
    <label>
      Last name
      <input type="text" [(ngModel)]="person.lastName" name="lastName" />
    </label>
  </p>
  <p>
    <label>
      Email address
      <input type="text" [(ngModel)]="person.emailAddress" name="emailAddress" />
    </label>
  </p>
  <p>
    <label>
      Department
      <select [(ngModel)]="person.departmentId" name="departmentId">
        <option *ngFor="let department of departments" value="{{ department.id }}">{{ department.name }}</option>
      </select>
    </label>
  </p>
  <p>
    <label>
      <input type="checkbox" [(ngModel)]="person.isActive" name="isActive" />
      Is this person active?
    </label>
  </p>
</form>
